@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }




* {
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

p, h2, h3, h4, h5, input, button, li{
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    margin: auto;
}

h1{
    font-family: 'Shrikhand', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.mt-25{
    margin-top: 25px;
}

.flexbox{
    display: flex;
}

.absolute{
    position: absolute;
}
.relative{
    position: relative;
}

.logo{
    width: 200px;
}

.search{
    background-color: #EAEAEA;
    padding: 25px;
    padding-left: 100px;
    justify-content: center;
    box-shadow: inset 0px 3px 3px #d3d3d3;
}

.divLocalisation i{
    margin: auto;
    font-size: 25px;
    color: #757575;
}

.inputSearch{
    border: 1px solid transparent;
    background-color: #EAEAEA;
    font-weight: 700;
    font-size: 25px;
    outline: none;
    padding-left: 15px;
    width: 300px;
}

.section1{
    text-align: center;
    background-color: #F6F6F6;
    padding: 50px;
}

.section1 p{
    color: #989898;
}

.section1 button{
    background: rgb(147,86,220);
    background: linear-gradient(342deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 85%);
    color: white;

    outline: none;
    border: none;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 3px 5px #bdbdbd;
    transition: .3s ease-out;
}

.section1 button:hover{
    background: rgb(160,88,245);
    background: linear-gradient(342deg, rgba(160,88,245,1) 0%, rgba(255,135,222,1) 65%);

    box-shadow: 0px 3px 5px #747474;
}

.section2{
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.cardlist{
    flex-direction: column;
    justify-content: space-between;
}

.card1{
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 20px;
    font-weight: 700;

    margin-top: 15px;
    box-shadow: 0px 3px 5px #bdbdbd;
    transition: .3s ease-out;
    cursor: pointer;
}

.card1:hover{
    background-color: #F5EDFF;
}

.mobileIco h3::before{
    font-family: "FontAwesome";
    content: "\f3cd";
    margin-right: 25px;
    color: #7A7A7A;
    font-size: 25px;

    padding-left: 20px;
}

.listIco h3::before{
    font-family: "FontAwesome";
    content: "\f03a";
    margin-right: 25px;
    color: #7A7A7A;
    font-size: 25px;

    padding-left: 20px;
}

.shopIco h3::before{
    font-family: "FontAwesome";
    content: "\f54e";
    margin-right: 25px;
    color: #7A7A7A;
    font-size: 25px;

    padding-left: 20px;
}

.bulle{
    background-color: #9356DC;
    border-radius: 100%;
    width: 35px;
    height: 35px;

    transform: translate(-100%, 50%);
}

.bulle p{
    text-align: center;
    color: white;
    margin-top: 10px
}

.section3{
    margin-top: 50px;
    padding: 50px 25px 50px 25px;

    background-color: #F6F6F6;
}

.cardlist{
    flex-direction: column;
}

.card2{
    background-color: white;
    border-radius: 25px;
    line-height: 10px;
    margin-top: 15px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-out;
    box-shadow: 0px 3px 5px #eeeeee;
}

.card2:hover{
    box-shadow: 0px 3px 5px #929292;
}

.card2:hover h3{
    color: #9356DC;
}

.cardTXT{
    padding: 10px;
    flex-direction: column;
    flex: 1;
}

.cardTXT h3, .cardTXT p{
    margin: 5px;
}

.icoCoeur{
    font-size: 30px;
    align-content: center;
    margin: auto 20px;
    cursor: pointer;
}

.icoCoeur .fas{
    display: none;
}

.icoCoeur:hover .fas{
    display: block;
    color: rgb(160,88,245);
    color: linear-gradient(342deg, rgba(160,88,245,1) 0%, rgba(255,135,222,1) 65%);
}

.icoCoeur:hover .far{
    display: none;
}

.card2 img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    height: 250px;
}

.cardNew{
    background-color: #99E2D0;
    border-radius: 5px;
    
    position: absolute;
    top: 10px;
    right: 10px;
}

.cardNew p{
    color: #217460;
    font-weight: 700;
    padding: 0 15px;
}

footer{
    width: 100%;
    background-color: #353535;
    padding: 25px;
    color: white;
}

footer h2{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 200;
}

footer ul{
    list-style: none;
    padding-left: 0;
    line-height: 25px;
}

li a{
    font-size: 20px;
}

li a:hover{
    transition: .3s ease-out;
    color: #9356DC;
}

.icoResto::before{
    font-family: "FontAwesome";
    content: "\f2e7";
    font-size: 15px;
    color: white;
    padding-right: 10px;
}

.icoHand::before{
    font-family: "FontAwesome";
    content: "\f4c4";
    font-size: 15px;
    color: white;
    padding-right: 5px;
}


/*LA PALETTE DU GOUT*/


.headerMenu i{
    font-size: 25px;
    align-self: center;
    padding-left: 15px;
}

.headerMenu img{
    flex: 2;
    height: 40px;
}

.imageResto{
    position: relative;
    height: 300px;
    height: 45vh;
    padding-top: unset;
}

.imgHead{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sectionMenu1{
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 20px;
    transform: translateY(-50px);
}

.titre h1{
    flex: 2;
}

.subTtitle{
    margin-bottom: 5px;
}

.horizontalGreen{
    background-color: #99E2D0;
    height: 4px;
    width: 40px;
}

.cardMenuList{
    flex-direction: column;
}

.card3{
    margin-top: 25px;
    background-color: white;
    padding: 5px 15px;
    border-radius: 25px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.card3 h3, .card3 p{
    margin: 10px;
    margin-right: 20px;
}

.card3Txt{
    flex: 1;
}

.prix{
    align-self: flex-end;
}

.commander{
    text-align: center;
}

.cmdButton{
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: rgb(147,86,220);
    background: linear-gradient(342deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 85%);
    padding: 15px;
    color: white;
    width: 150px;
    cursor: pointer;
    box-shadow: 0px 3px 5px #bdbdbd;
    transition: .3s ease-out;
}

.cmdButton:hover{
    background: rgb(172, 108, 250);
    background: linear-gradient(342deg, rgb(170, 106, 248) 0%, rgb(255, 145, 224) 85%);
    box-shadow: 0px 3px 5px #747474;
}

/*CARD ANIM*/

.cardAnim i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    font-size: 2rem;
    background-color: #99e2d0;
    color: white;
}

.cardAnim{
    display: flex;
    width: 11rem;
    transition: .2s ease-in-out;
    margin: -1rem -12rem -1rem auto;
}

.card3:hover .cardAnim{
    margin: -1rem -6rem -1rem auto;
}

.card3:hover .cardAnim i::before{
    animation: spin .3s linear;
}

@keyframes spin{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.appear1{
    opacity: 0;
    animation: aparition 1s .3s ease-in-out forwards;
}

.appear2{
    opacity: 0;
    animation: aparition 1s .5s ease-in-out forwards;
}

.appear3{
    opacity: 0;
    animation: aparition 1s .7s ease-in-out forwards;
}

@keyframes aparition{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}