@media (min-width: 1024px) {

    .cardlist{
        flex-direction: row;
        justify-content: space-around;
    }

    .cardMenuList{
        flex-direction: row;
        flex-wrap: wrap
    }

    .card3{
        margin-right: 10px;
    }

    .sectionMenu1{
        margin: 0 100px;
    }

    .appear1{
        opacity: 0;
        animation: aparition 1s .3s ease-in-out forwards;
    }
    
    .appear2{
        opacity: 0;
        animation: aparition 1s .5s ease-in-out forwards;
    }
    
    .appear3{
        opacity: 0;
        animation: aparition 1s .7s ease-in-out forwards;
    }
    
    @keyframes aparition{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0.1;
        }
        100%{
            opacity: 1;
        }
    }

}