@media (min-width: 1024px) {

    .cardlist{
        flex-direction: row;
        justify-content: space-around;
    }

    .cardMenuList{
        flex-direction: row;
    }

    .card3{
        margin-right: 10px;
    }

}